{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 7"]
        }
      },
      "es2015"
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
